USE [VentasAppBD]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[webpages_UsersInRoles]'))
ALTER TABLE [dbo].[webpages_UsersInRoles] DROP CONSTRAINT [fk_UserId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[webpages_UsersInRoles]'))
ALTER TABLE [dbo].[webpages_UsersInRoles] DROP CONSTRAINT [fk_RoleId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserProfile_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserProfile]'))
ALTER TABLE [dbo].[UserProfile] DROP CONSTRAINT [FK_UserProfile_Linea]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario] DROP CONSTRAINT [FK_RespuestaUsuario_UserProfile]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_Respuesta]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario] DROP CONSTRAINT [FK_RespuestaUsuario_Respuesta]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_ExamenUsuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario] DROP CONSTRAINT [FK_RespuestaUsuario_ExamenUsuario]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Respuesta_Pregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[Respuesta]'))
ALTER TABLE [dbo].[Respuesta] DROP CONSTRAINT [FK_Respuesta_Pregunta]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PuntajeAsesoria_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[PuntajeAsesoria]'))
ALTER TABLE [dbo].[PuntajeAsesoria] DROP CONSTRAINT [FK_PuntajeAsesoria_Examen]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductoLinea_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductoLinea]'))
ALTER TABLE [dbo].[ProductoLinea] DROP CONSTRAINT [FK_ProductoLinea_Producto]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductoLinea_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductoLinea]'))
ALTER TABLE [dbo].[ProductoLinea] DROP CONSTRAINT [FK_ProductoLinea_Linea]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario] DROP CONSTRAINT [FK_PreguntaUsuario_UserProfile]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_Pregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario] DROP CONSTRAINT [FK_PreguntaUsuario_Pregunta]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_ExamenUsuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario] DROP CONSTRAINT [FK_PreguntaUsuario_ExamenUsuario]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pregunta_TipoPregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pregunta]'))
ALTER TABLE [dbo].[Pregunta] DROP CONSTRAINT [FK_Pregunta_TipoPregunta]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pregunta_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pregunta]'))
ALTER TABLE [dbo].[Pregunta] DROP CONSTRAINT [FK_Pregunta_Examen]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Llamada_Farmacia_Llamada_Farmacia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Llamada_Farmacia]'))
ALTER TABLE [dbo].[Llamada_Farmacia] DROP CONSTRAINT [FK_Llamada_Farmacia_Llamada_Farmacia]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Llamada_Farmacia_Farmacia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Llamada_Farmacia]'))
ALTER TABLE [dbo].[Llamada_Farmacia] DROP CONSTRAINT [FK_Llamada_Farmacia_Farmacia]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile2]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario] DROP CONSTRAINT [FK_ExamenUsuario_UserProfile2]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario] DROP CONSTRAINT [FK_ExamenUsuario_UserProfile1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario] DROP CONSTRAINT [FK_ExamenUsuario_UserProfile]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario] DROP CONSTRAINT [FK_ExamenUsuario_Examen]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_TipoExamen]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen] DROP CONSTRAINT [FK_Examen_TipoExamen]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen] DROP CONSTRAINT [FK_Examen_Producto]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen] DROP CONSTRAINT [FK_Examen_Estado]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DocumentoLinea_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentoLinea]'))
ALTER TABLE [dbo].[DocumentoLinea] DROP CONSTRAINT [FK_DocumentoLinea_Linea]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DocumentoLinea_Documento]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentoLinea]'))
ALTER TABLE [dbo].[DocumentoLinea] DROP CONSTRAINT [FK_DocumentoLinea_Documento]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__webpages___Passw__3F466844]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[webpages_Membership] DROP CONSTRAINT [DF__webpages___Passw__3F466844]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__webpages___IsCon__3E52440B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[webpages_Membership] DROP CONSTRAINT [DF__webpages___IsCon__3E52440B]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_RespuestaUsuario_Marcada]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RespuestaUsuario] DROP CONSTRAINT [DF_RespuestaUsuario_Marcada]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Respuesta_Marcada]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Respuesta] DROP CONSTRAINT [DF_Respuesta_Marcada]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Pregunta_Habilitada]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Pregunta] DROP CONSTRAINT [DF_Pregunta_Habilitada]
END

GO
/****** Object:  Index [UQ__webpages__8A2B616044B385A4]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[webpages_Roles]') AND name = N'UQ__webpages__8A2B616044B385A4')
ALTER TABLE [dbo].[webpages_Roles] DROP CONSTRAINT [UQ__webpages__8A2B616044B385A4]
GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[webpages_UsersInRoles]') AND type in (N'U'))
DROP TABLE [dbo].[webpages_UsersInRoles]
GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[webpages_Roles]') AND type in (N'U'))
DROP TABLE [dbo].[webpages_Roles]
GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[webpages_OAuthMembership]') AND type in (N'U'))
DROP TABLE [dbo].[webpages_OAuthMembership]
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[webpages_Membership]') AND type in (N'U'))
DROP TABLE [dbo].[webpages_Membership]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserProfile]') AND type in (N'U'))
DROP TABLE [dbo].[UserProfile]
GO
/****** Object:  Table [dbo].[UserMigration]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserMigration]') AND type in (N'U'))
DROP TABLE [dbo].[UserMigration]
GO
/****** Object:  Table [dbo].[TipoPregunta]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoPregunta]') AND type in (N'U'))
DROP TABLE [dbo].[TipoPregunta]
GO
/****** Object:  Table [dbo].[TipoExamen]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoExamen]') AND type in (N'U'))
DROP TABLE [dbo].[TipoExamen]
GO
/****** Object:  Table [dbo].[RespuestaUsuario]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]') AND type in (N'U'))
DROP TABLE [dbo].[RespuestaUsuario]
GO
/****** Object:  Table [dbo].[Respuesta]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Respuesta]') AND type in (N'U'))
DROP TABLE [dbo].[Respuesta]
GO
/****** Object:  Table [dbo].[PuntajeAsesoria]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PuntajeAsesoria]') AND type in (N'U'))
DROP TABLE [dbo].[PuntajeAsesoria]
GO
/****** Object:  Table [dbo].[ProductoLinea]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductoLinea]') AND type in (N'U'))
DROP TABLE [dbo].[ProductoLinea]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Producto]') AND type in (N'U'))
DROP TABLE [dbo].[Producto]
GO
/****** Object:  Table [dbo].[PreguntaUsuario]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]') AND type in (N'U'))
DROP TABLE [dbo].[PreguntaUsuario]
GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pregunta]') AND type in (N'U'))
DROP TABLE [dbo].[Pregunta]
GO
/****** Object:  Table [dbo].[NombreTabla]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NombreTabla]') AND type in (N'U'))
DROP TABLE [dbo].[NombreTabla]
GO
/****** Object:  Table [dbo].[Llamada_Farmacia]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Llamada_Farmacia]') AND type in (N'U'))
DROP TABLE [dbo].[Llamada_Farmacia]
GO
/****** Object:  Table [dbo].[Linea]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Linea]') AND type in (N'U'))
DROP TABLE [dbo].[Linea]
GO
/****** Object:  Table [dbo].[Farmacia]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Farmacia]') AND type in (N'U'))
DROP TABLE [dbo].[Farmacia]
GO
/****** Object:  Table [dbo].[ExamenUsuario]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]') AND type in (N'U'))
DROP TABLE [dbo].[ExamenUsuario]
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Examen]') AND type in (N'U'))
DROP TABLE [dbo].[Examen]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Estado]') AND type in (N'U'))
DROP TABLE [dbo].[Estado]
GO
/****** Object:  Table [dbo].[DocumentoLinea]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentoLinea]') AND type in (N'U'))
DROP TABLE [dbo].[DocumentoLinea]
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Documento]') AND type in (N'U'))
DROP TABLE [dbo].[Documento]
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Documento]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Documento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](500) NULL,
	[Ruta] [varchar](100) NULL,
 CONSTRAINT [PK_Documento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocumentoLinea]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DocumentoLinea]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DocumentoLinea](
	[IdDocumento] [int] NOT NULL,
	[IdLinea] [int] NOT NULL,
 CONSTRAINT [PK_DocumentoLinea] PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC,
	[IdLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Estado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Estado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Examen]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Examen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NULL,
	[Titulo] [varchar](400) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaEjecucion] [datetime] NULL,
	[TiempoMaximo] [time](7) NULL,
	[IdEstado] [int] NOT NULL,
	[PuntajeMaximo] [int] NULL,
	[TiempoTranscurrido] [time](7) NULL,
	[IdTipo] [int] NULL,
 CONSTRAINT [PK_Examen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExamenUsuario]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ExamenUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdExamen] [int] NULL,
	[IdEjecutivo] [int] NULL,
	[IdAster] [int] NULL,
	[Puntaje] [decimal](18, 2) NULL,
	[Tiempo] [time](7) NULL,
	[FechaTermino] [datetime] NULL,
	[FechaInicio] [datetime] NULL,
	[Estado] [int] NULL,
	[IdPreguntaActual] [int] NULL,
 CONSTRAINT [PK_ExamenUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Farmacia]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Farmacia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Farmacia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ruc] [varchar](12) NULL,
	[Nombre] [varchar](500) NULL,
	[Localidad] [varchar](100) NULL,
	[Ciudad] [varchar](100) NULL,
	[Direccion] [varchar](500) NULL,
	[Telefono] [varchar](15) NULL,
	[Propietario] [varchar](300) NULL,
	[EncargadoCompra] [varchar](300) NULL,
 CONSTRAINT [PK_Farmacia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Linea]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Linea]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Linea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Linea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Llamada_Farmacia]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Llamada_Farmacia]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Llamada_Farmacia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFarmacia] [int] NULL,
	[Observaciones] [varchar](500) NULL,
	[Fecha] [datetime] NULL,
	[Orden] [int] NULL,
	[IdLlamadaPadre] [int] NULL,
	[FechaSigLlamada] [datetime] NULL,
 CONSTRAINT [PK_Llamada_Farmacia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NombreTabla]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NombreTabla]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NombreTabla](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tabla] [varchar](200) NULL,
	[NombreMostrar] [varchar](200) NULL,
 CONSTRAINT [PK_NombreTabla] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pregunta]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pregunta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [varchar](400) NULL,
	[IdTipoPregunta] [int] NULL,
	[IdExamen] [int] NULL,
	[CantidadRespuesta] [int] NULL,
	[Puntaje] [decimal](18, 0) NULL,
	[Orden] [int] NULL,
	[Habilitada] [bit] NULL,
 CONSTRAINT [PK_Pregunta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PreguntaUsuario]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PreguntaUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPregunta] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdExamenUsuario] [int] NULL,
	[Puntaje] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PreguntaUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Producto]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NULL,
	[IdLinea] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductoLinea]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductoLinea]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductoLinea](
	[IdProducto] [int] NOT NULL,
	[IdLinea] [int] NOT NULL,
 CONSTRAINT [PK_ProductoLinea] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC,
	[IdLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PuntajeAsesoria]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PuntajeAsesoria]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PuntajeAsesoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[D] [decimal](18, 2) NULL,
	[A] [decimal](18, 2) NULL,
	[B] [decimal](18, 2) NULL,
	[S] [decimal](18, 2) NULL,
	[IdExamen] [int] NULL,
 CONSTRAINT [PK_PuntajeAsesoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Respuesta]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Respuesta]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Respuesta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [varchar](400) NULL,
	[Orden] [int] NULL,
	[IdPregunta] [int] NULL,
	[EsCorrecta] [int] NULL,
	[Marcada] [bit] NOT NULL,
	[Puntaje] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Respuesta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RespuestaUsuario]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RespuestaUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRespuesta] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdExamenUsuario] [int] NULL,
	[Texto] [varchar](400) NULL,
	[Marcada] [bit] NOT NULL,
 CONSTRAINT [PK_RespuestaUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoExamen]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoExamen]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TipoExamen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
 CONSTRAINT [PK_TipoExamen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoPregunta]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoPregunta]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TipoPregunta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[NombreControl] [varchar](50) NULL,
 CONSTRAINT [PK_TipoPregunta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMigration]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserMigration]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserMigration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [float] NULL,
	[IdLinea] [float] NULL,
	[Nombres] [nvarchar](255) NULL,
	[Apellidos] [nvarchar](255) NULL,
	[Mail] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserMigration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserProfile]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Mail] [varchar](100) NULL,
	[IdLinea] [int] NULL,
	[UrlImagen] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserProfile] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[webpages_Membership]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[webpages_OAuthMembership]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[webpages_Roles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 25/06/2013 12:55:32 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[webpages_UsersInRoles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Documento] ON 

INSERT [dbo].[Documento] ([Id], [Nombre], [Descripcion], [Ruta]) VALUES (1, N'Prueba', N'Descripción', N'2M0R152L0W1R0Y6f_T4h5Y4_7Y7e5E0L6U821-3w7y9_0z22.pdf')
INSERT [dbo].[Documento] ([Id], [Nombre], [Descripcion], [Ruta]) VALUES (2, N'Prueba 12', N'Prueba 12 desc', N'Informe.xlsx')
INSERT [dbo].[Documento] ([Id], [Nombre], [Descripcion], [Ruta]) VALUES (3, N'Prueba img', N'prueba img desc', N'Comprobante.png')
SET IDENTITY_INSERT [dbo].[Documento] OFF
INSERT [dbo].[DocumentoLinea] ([IdDocumento], [IdLinea]) VALUES (1, 5)
INSERT [dbo].[DocumentoLinea] ([IdDocumento], [IdLinea]) VALUES (1, 7)
INSERT [dbo].[DocumentoLinea] ([IdDocumento], [IdLinea]) VALUES (1, 8)
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([Id], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[Estado] ([Id], [Nombre]) VALUES (2, N'Inactivo')
INSERT [dbo].[Estado] ([Id], [Nombre]) VALUES (3, N'Listo')
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[Examen] ON 

INSERT [dbo].[Examen] ([Id], [IdProducto], [Titulo], [FechaCreacion], [FechaEjecucion], [TiempoMaximo], [IdEstado], [PuntajeMaximo], [TiempoTranscurrido], [IdTipo]) VALUES (1047, NULL, N'Asesoría en Terreno Base', CAST(0x0000A1B20042DFB2 AS DateTime), CAST(0x0000A1B20042DFB2 AS DateTime), CAST(0x070034E230040000 AS Time), 1, 20, NULL, 2)
INSERT [dbo].[Examen] ([Id], [IdProducto], [Titulo], [FechaCreacion], [FechaEjecucion], [TiempoMaximo], [IdEstado], [PuntajeMaximo], [TiempoTranscurrido], [IdTipo]) VALUES (1058, 16, N'Tusiclox', CAST(0x0000A1B600BEB55A AS DateTime), CAST(0x0000A1B600000000 AS DateTime), CAST(0x070034E230040000 AS Time), 3, 20, NULL, 1)
INSERT [dbo].[Examen] ([Id], [IdProducto], [Titulo], [FechaCreacion], [FechaEjecucion], [TiempoMaximo], [IdEstado], [PuntajeMaximo], [TiempoTranscurrido], [IdTipo]) VALUES (1059, NULL, N'Asesoría en Terreno Prueba', CAST(0x0000A1B600F34D44 AS DateTime), CAST(0x0000A1B600F34D41 AS DateTime), CAST(0x070034E230040000 AS Time), 3, 20, NULL, 2)
SET IDENTITY_INSERT [dbo].[Examen] OFF
SET IDENTITY_INSERT [dbo].[ExamenUsuario] ON 

INSERT [dbo].[ExamenUsuario] ([Id], [IdUsuario], [IdExamen], [IdEjecutivo], [IdAster], [Puntaje], [Tiempo], [FechaTermino], [FechaInicio], [Estado], [IdPreguntaActual]) VALUES (1106, 185, 1058, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0)
INSERT [dbo].[ExamenUsuario] ([Id], [IdUsuario], [IdExamen], [IdEjecutivo], [IdAster], [Puntaje], [Tiempo], [FechaTermino], [FechaInicio], [Estado], [IdPreguntaActual]) VALUES (1107, 186, 1058, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0)
INSERT [dbo].[ExamenUsuario] ([Id], [IdUsuario], [IdExamen], [IdEjecutivo], [IdAster], [Puntaje], [Tiempo], [FechaTermino], [FechaInicio], [Estado], [IdPreguntaActual]) VALUES (1108, 187, 1058, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[ExamenUsuario] OFF
SET IDENTITY_INSERT [dbo].[Linea] ON 

INSERT [dbo].[Linea] ([Id], [Nombre]) VALUES (5, N'Alivio')
INSERT [dbo].[Linea] ([Id], [Nombre]) VALUES (6, N'Salud Mujer')
INSERT [dbo].[Linea] ([Id], [Nombre]) VALUES (7, N'Respiratoria')
SET IDENTITY_INSERT [dbo].[Linea] OFF
SET IDENTITY_INSERT [dbo].[NombreTabla] ON 

INSERT [dbo].[NombreTabla] ([Id], [Tabla], [NombreMostrar]) VALUES (1, N'Linea', N'Solución')
INSERT [dbo].[NombreTabla] ([Id], [Tabla], [NombreMostrar]) VALUES (2, N'Aster', N'Aster')
SET IDENTITY_INSERT [dbo].[NombreTabla] OFF
SET IDENTITY_INSERT [dbo].[Pregunta] ON 

INSERT [dbo].[Pregunta] ([Id], [Texto], [IdTipoPregunta], [IdExamen], [CantidadRespuesta], [Puntaje], [Orden], [Habilitada]) VALUES (1062, N'Establece relaciones asertivas', 9, 1047, 1, CAST(100 AS Decimal(18, 0)), 1, NULL)
INSERT [dbo].[Pregunta] ([Id], [Texto], [IdTipoPregunta], [IdExamen], [CantidadRespuesta], [Puntaje], [Orden], [Habilitada]) VALUES (1063, N'Segmenta y selecciona sus clientes', 9, 1047, 1, CAST(100 AS Decimal(18, 0)), 2, NULL)
INSERT [dbo].[Pregunta] ([Id], [Texto], [IdTipoPregunta], [IdExamen], [CantidadRespuesta], [Puntaje], [Orden], [Habilitada]) VALUES (1064, N'Realiza servicio y seguimiento a compromisos', 9, 1047, 1, CAST(100 AS Decimal(18, 0)), 3, NULL)
SET IDENTITY_INSERT [dbo].[Pregunta] OFF
SET IDENTITY_INSERT [dbo].[PreguntaUsuario] ON 

INSERT [dbo].[PreguntaUsuario] ([Id], [IdPregunta], [IdUsuario], [IdExamenUsuario], [Puntaje]) VALUES (2447, 1132, 189, 1110, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[PreguntaUsuario] ([Id], [IdPregunta], [IdUsuario], [IdExamenUsuario], [Puntaje]) VALUES (2448, 1133, 189, 1110, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[PreguntaUsuario] ([Id], [IdPregunta], [IdUsuario], [IdExamenUsuario], [Puntaje]) VALUES (2449, 1132, 188, 1109, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PreguntaUsuario] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id], [Nombre], [IdLinea]) VALUES (1, N'Previne D Geltabs - Previbe D Fort ', 5)
INSERT [dbo].[Producto] ([Id], [Nombre], [IdLinea]) VALUES (2, N'Bonese', 5)
INSERT [dbo].[Producto] ([Id], [Nombre], [IdLinea]) VALUES (3, N'Flexure - MSM', 5)
SET IDENTITY_INSERT [dbo].[Producto] OFF
INSERT [dbo].[ProductoLinea] ([IdProducto], [IdLinea]) VALUES (1, 5)
INSERT [dbo].[ProductoLinea] ([IdProducto], [IdLinea]) VALUES (1, 6)
INSERT [dbo].[ProductoLinea] ([IdProducto], [IdLinea]) VALUES (1, 10)
SET IDENTITY_INSERT [dbo].[PuntajeAsesoria] ON 

INSERT [dbo].[PuntajeAsesoria] ([Id], [D], [A], [B], [S], [IdExamen]) VALUES (27, CAST(1.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), 1042)
INSERT [dbo].[PuntajeAsesoria] ([Id], [D], [A], [B], [S], [IdExamen]) VALUES (34, CAST(12.00 AS Decimal(18, 2)), CAST(303.00 AS Decimal(18, 2)), CAST(323.00 AS Decimal(18, 2)), CAST(444.00 AS Decimal(18, 2)), 1046)
INSERT [dbo].[PuntajeAsesoria] ([Id], [D], [A], [B], [S], [IdExamen]) VALUES (35, CAST(60.00 AS Decimal(18, 2)), CAST(70.00 AS Decimal(18, 2)), CAST(85.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), 19)
SET IDENTITY_INSERT [dbo].[PuntajeAsesoria] OFF
SET IDENTITY_INSERT [dbo].[Respuesta] ON 

INSERT [dbo].[Respuesta] ([Id], [Texto], [Orden], [IdPregunta], [EsCorrecta], [Marcada], [Puntaje]) VALUES (1220, N'D', NULL, 1062, 0, 0, CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[Respuesta] ([Id], [Texto], [Orden], [IdPregunta], [EsCorrecta], [Marcada], [Puntaje]) VALUES (1221, N'A', NULL, 1062, 0, 0, CAST(70.00 AS Decimal(18, 2)))
INSERT [dbo].[Respuesta] ([Id], [Texto], [Orden], [IdPregunta], [EsCorrecta], [Marcada], [Puntaje]) VALUES (1222, N'B', NULL, 1062, 0, 0, CAST(85.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Respuesta] OFF
SET IDENTITY_INSERT [dbo].[RespuestaUsuario] ON 

INSERT [dbo].[RespuestaUsuario] ([Id], [IdRespuesta], [IdUsuario], [IdExamenUsuario], [Texto], [Marcada]) VALUES (6724, 1486, 189, 1110, N'rpta 1', 0)
INSERT [dbo].[RespuestaUsuario] ([Id], [IdRespuesta], [IdUsuario], [IdExamenUsuario], [Texto], [Marcada]) VALUES (6725, 1487, 189, 1110, N'rpta 2', 0)
INSERT [dbo].[RespuestaUsuario] ([Id], [IdRespuesta], [IdUsuario], [IdExamenUsuario], [Texto], [Marcada]) VALUES (6726, 1488, 189, 1110, N'rpta 3', 0)
GO
SET IDENTITY_INSERT [dbo].[RespuestaUsuario] OFF
SET IDENTITY_INSERT [dbo].[TipoExamen] ON 

INSERT [dbo].[TipoExamen] ([Id], [Nombre]) VALUES (1, N'Evaluación Aster')
INSERT [dbo].[TipoExamen] ([Id], [Nombre]) VALUES (2, N'Asesoría en Terreno')
SET IDENTITY_INSERT [dbo].[TipoExamen] OFF
SET IDENTITY_INSERT [dbo].[TipoPregunta] ON 

INSERT [dbo].[TipoPregunta] ([Id], [Nombre], [NombreControl]) VALUES (1, N'Opción Múltiple', N'Checkbox')
INSERT [dbo].[TipoPregunta] ([Id], [Nombre], [NombreControl]) VALUES (2, N'Para rellenar', N'Textarea')
INSERT [dbo].[TipoPregunta] ([Id], [Nombre], [NombreControl]) VALUES (9, N'Asesoría', N'Asesoria')
SET IDENTITY_INSERT [dbo].[TipoPregunta] OFF
SET IDENTITY_INSERT [dbo].[UserMigration] ON 

INSERT [dbo].[UserMigration] ([Id], [RoleId], [IdLinea], [Nombres], [Apellidos], [Mail]) VALUES (1, 2, 10, N'Ana', N'Rocha Malqui', N'arocha@unimed.com.pe')
INSERT [dbo].[UserMigration] ([Id], [RoleId], [IdLinea], [Nombres], [Apellidos], [Mail]) VALUES (2, 2, 10, N'Patricia', N'Del Castillo Alcedo', N'ddelcastillo@unimed.com.pe')
INSERT [dbo].[UserMigration] ([Id], [RoleId], [IdLinea], [Nombres], [Apellidos], [Mail]) VALUES (3, 2, 10, N'Rennier', N'Yañez Farfan', N'ryanez@unimed.com.pe')
GO
SET IDENTITY_INSERT [dbo].[UserMigration] OFF
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([UserId], [UserName], [FirstName], [LastName], [Mail], [IdLinea], [UrlImagen]) VALUES (10, N'abalbin', N'Arturo', N'Balbin Rojas', N'r2d2klapa@gmail.com', 10, NULL)
INSERT [dbo].[UserProfile] ([UserId], [UserName], [FirstName], [LastName], [Mail], [IdLinea], [UrlImagen]) VALUES (119, N'arocha', N'Ana', N'Rocha Malqui', N'r2d2klapa@gmail.com', 10, NULL)
INSERT [dbo].[UserProfile] ([UserId], [UserName], [FirstName], [LastName], [Mail], [IdLinea], [UrlImagen]) VALUES (120, N'ddelcastillo', N'Patricia', N'Del Castillo Alcedo', N'r2d2klapa@gmail.com', 10, NULL)
GO
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (1, CAST(0x0000A17A01522858 AS DateTime), NULL, 1, NULL, 0, N'AMxL1C4Dnzy5b64vn9oAnVIEpDzkotlb7zBZ6ue+hhCfEJ1MJHFSyOXQNh/soaWiUQ==', CAST(0x0000A17A01522858 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(0x0000A17A0152F947 AS DateTime), NULL, 1, NULL, 0, N'AD5r+GKqkI05MGl7uQJDH9+4d+2qTyuqAR+KA1NuGKazwTKxOQlMs1mFvbdFon9jPg==', CAST(0x0000A17A0152F947 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (3, CAST(0x0000A17B0106164D AS DateTime), NULL, 1, NULL, 0, N'ABSeFKrDurYDLQEQDxQ5ZUOIhilKq72LLhd6CRbYLFBWgAzt+D0aud83ONBX5XP2fQ==', CAST(0x0000A17B0106164D AS DateTime), N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[webpages_Roles] ON 

INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (1, N'Administrador')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (2, N'Aster')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (6, N'EAP')
SET IDENTITY_INSERT [dbo].[webpages_Roles] OFF
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (10, 1)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (119, 2)
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (120, 2)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__webpages__8A2B616044B385A4]    Script Date: 25/06/2013 12:55:32 a.m. ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[webpages_Roles]') AND name = N'UQ__webpages__8A2B616044B385A4')
ALTER TABLE [dbo].[webpages_Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Pregunta_Habilitada]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Pregunta] ADD  CONSTRAINT [DF_Pregunta_Habilitada]  DEFAULT ((1)) FOR [Habilitada]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Respuesta_Marcada]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Respuesta] ADD  CONSTRAINT [DF_Respuesta_Marcada]  DEFAULT ((0)) FOR [Marcada]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_RespuestaUsuario_Marcada]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[RespuestaUsuario] ADD  CONSTRAINT [DF_RespuestaUsuario_Marcada]  DEFAULT ((0)) FOR [Marcada]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__webpages___IsCon__3E52440B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__webpages___Passw__3F466844]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DocumentoLinea_Documento]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentoLinea]'))
ALTER TABLE [dbo].[DocumentoLinea]  WITH CHECK ADD  CONSTRAINT [FK_DocumentoLinea_Documento] FOREIGN KEY([IdDocumento])
REFERENCES [dbo].[Documento] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DocumentoLinea_Documento]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentoLinea]'))
ALTER TABLE [dbo].[DocumentoLinea] CHECK CONSTRAINT [FK_DocumentoLinea_Documento]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DocumentoLinea_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentoLinea]'))
ALTER TABLE [dbo].[DocumentoLinea]  WITH CHECK ADD  CONSTRAINT [FK_DocumentoLinea_Linea] FOREIGN KEY([IdLinea])
REFERENCES [dbo].[Linea] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DocumentoLinea_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[DocumentoLinea]'))
ALTER TABLE [dbo].[DocumentoLinea] CHECK CONSTRAINT [FK_DocumentoLinea_Linea]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Examen_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_Estado]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Examen_Estado]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Examen_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Examen_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_TipoExamen]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD  CONSTRAINT [FK_Examen_TipoExamen] FOREIGN KEY([IdTipo])
REFERENCES [dbo].[TipoExamen] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Examen_TipoExamen]') AND parent_object_id = OBJECT_ID(N'[dbo].[Examen]'))
ALTER TABLE [dbo].[Examen] CHECK CONSTRAINT [FK_Examen_TipoExamen]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ExamenUsuario_Examen] FOREIGN KEY([IdExamen])
REFERENCES [dbo].[Examen] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario] CHECK CONSTRAINT [FK_ExamenUsuario_Examen]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ExamenUsuario_UserProfile] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario] CHECK CONSTRAINT [FK_ExamenUsuario_UserProfile]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ExamenUsuario_UserProfile1] FOREIGN KEY([IdEjecutivo])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario] CHECK CONSTRAINT [FK_ExamenUsuario_UserProfile1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile2]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ExamenUsuario_UserProfile2] FOREIGN KEY([IdAster])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ExamenUsuario_UserProfile2]') AND parent_object_id = OBJECT_ID(N'[dbo].[ExamenUsuario]'))
ALTER TABLE [dbo].[ExamenUsuario] CHECK CONSTRAINT [FK_ExamenUsuario_UserProfile2]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Llamada_Farmacia_Farmacia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Llamada_Farmacia]'))
ALTER TABLE [dbo].[Llamada_Farmacia]  WITH CHECK ADD  CONSTRAINT [FK_Llamada_Farmacia_Farmacia] FOREIGN KEY([IdFarmacia])
REFERENCES [dbo].[Farmacia] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Llamada_Farmacia_Farmacia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Llamada_Farmacia]'))
ALTER TABLE [dbo].[Llamada_Farmacia] CHECK CONSTRAINT [FK_Llamada_Farmacia_Farmacia]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Llamada_Farmacia_Llamada_Farmacia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Llamada_Farmacia]'))
ALTER TABLE [dbo].[Llamada_Farmacia]  WITH CHECK ADD  CONSTRAINT [FK_Llamada_Farmacia_Llamada_Farmacia] FOREIGN KEY([IdLlamadaPadre])
REFERENCES [dbo].[Llamada_Farmacia] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Llamada_Farmacia_Llamada_Farmacia]') AND parent_object_id = OBJECT_ID(N'[dbo].[Llamada_Farmacia]'))
ALTER TABLE [dbo].[Llamada_Farmacia] CHECK CONSTRAINT [FK_Llamada_Farmacia_Llamada_Farmacia]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pregunta_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pregunta]'))
ALTER TABLE [dbo].[Pregunta]  WITH CHECK ADD  CONSTRAINT [FK_Pregunta_Examen] FOREIGN KEY([IdExamen])
REFERENCES [dbo].[Examen] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pregunta_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pregunta]'))
ALTER TABLE [dbo].[Pregunta] CHECK CONSTRAINT [FK_Pregunta_Examen]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pregunta_TipoPregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pregunta]'))
ALTER TABLE [dbo].[Pregunta]  WITH CHECK ADD  CONSTRAINT [FK_Pregunta_TipoPregunta] FOREIGN KEY([IdTipoPregunta])
REFERENCES [dbo].[TipoPregunta] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Pregunta_TipoPregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[Pregunta]'))
ALTER TABLE [dbo].[Pregunta] CHECK CONSTRAINT [FK_Pregunta_TipoPregunta]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_ExamenUsuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PreguntaUsuario_ExamenUsuario] FOREIGN KEY([IdExamenUsuario])
REFERENCES [dbo].[ExamenUsuario] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_ExamenUsuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario] CHECK CONSTRAINT [FK_PreguntaUsuario_ExamenUsuario]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_Pregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PreguntaUsuario_Pregunta] FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[Pregunta] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_Pregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario] CHECK CONSTRAINT [FK_PreguntaUsuario_Pregunta]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PreguntaUsuario_UserProfile] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PreguntaUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[PreguntaUsuario]'))
ALTER TABLE [dbo].[PreguntaUsuario] CHECK CONSTRAINT [FK_PreguntaUsuario_UserProfile]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductoLinea_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductoLinea]'))
ALTER TABLE [dbo].[ProductoLinea]  WITH CHECK ADD  CONSTRAINT [FK_ProductoLinea_Linea] FOREIGN KEY([IdLinea])
REFERENCES [dbo].[Linea] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductoLinea_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductoLinea]'))
ALTER TABLE [dbo].[ProductoLinea] CHECK CONSTRAINT [FK_ProductoLinea_Linea]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductoLinea_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductoLinea]'))
ALTER TABLE [dbo].[ProductoLinea]  WITH CHECK ADD  CONSTRAINT [FK_ProductoLinea_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProductoLinea_Producto]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductoLinea]'))
ALTER TABLE [dbo].[ProductoLinea] CHECK CONSTRAINT [FK_ProductoLinea_Producto]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PuntajeAsesoria_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[PuntajeAsesoria]'))
ALTER TABLE [dbo].[PuntajeAsesoria]  WITH NOCHECK ADD  CONSTRAINT [FK_PuntajeAsesoria_Examen] FOREIGN KEY([IdExamen])
REFERENCES [dbo].[Examen] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PuntajeAsesoria_Examen]') AND parent_object_id = OBJECT_ID(N'[dbo].[PuntajeAsesoria]'))
ALTER TABLE [dbo].[PuntajeAsesoria] NOCHECK CONSTRAINT [FK_PuntajeAsesoria_Examen]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Respuesta_Pregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[Respuesta]'))
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Pregunta] FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[Pregunta] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Respuesta_Pregunta]') AND parent_object_id = OBJECT_ID(N'[dbo].[Respuesta]'))
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_Respuesta_Pregunta]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_ExamenUsuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RespuestaUsuario_ExamenUsuario] FOREIGN KEY([IdExamenUsuario])
REFERENCES [dbo].[ExamenUsuario] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_ExamenUsuario]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario] CHECK CONSTRAINT [FK_RespuestaUsuario_ExamenUsuario]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_Respuesta]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RespuestaUsuario_Respuesta] FOREIGN KEY([IdRespuesta])
REFERENCES [dbo].[Respuesta] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_Respuesta]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario] CHECK CONSTRAINT [FK_RespuestaUsuario_Respuesta]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RespuestaUsuario_UserProfile] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RespuestaUsuario_UserProfile]') AND parent_object_id = OBJECT_ID(N'[dbo].[RespuestaUsuario]'))
ALTER TABLE [dbo].[RespuestaUsuario] CHECK CONSTRAINT [FK_RespuestaUsuario_UserProfile]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserProfile_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserProfile]'))
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Linea] FOREIGN KEY([IdLinea])
REFERENCES [dbo].[Linea] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserProfile_Linea]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserProfile]'))
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_Linea]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[webpages_UsersInRoles]'))
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_RoleId]') AND parent_object_id = OBJECT_ID(N'[dbo].[webpages_UsersInRoles]'))
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[webpages_UsersInRoles]'))
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_UserId]') AND parent_object_id = OBJECT_ID(N'[dbo].[webpages_UsersInRoles]'))
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
